@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated && Session["Groupe"].ToString().Equals("GESTIONNAIRE"))
{
       @Html.AntiForgeryToken()
        
        <li class="btn-group nav">
            <button type="button" class="btn navbar-btn" style="background-color:Highlight">Gestion</button>
            <button type="button" class="btn navbar-btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li> @Html.ActionLink("Voir Demandes", "VoirDemandes", "Gestionnaire")</li>
                <li> @Html.ActionLink("Vérifier Stocks", "VerifierStocks", "Gestionnaire")</li>
                <li> @Html.ActionLink("Commander Pieces", "AcheterPieces", "Gestionnaire")</li>
                <li> @Html.ActionLink("Voir Prix des Fournisseurs", "ListerPrix", "Gestionnaire")</li>
                <li> @Html.ActionLink("Transmettre Pieces", "TransmettrePieces", "Gestionnaire")</li>
            </ul>
        </li>  
}