@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Employe", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {       

        @Html.AntiForgeryToken()
        
        <li class="btn-group nav">
            <button type="button" class="btn navbar-btn" style="background-color:Highlight">@Session["Name"]</button>
            <button type="button" class="btn navbar-btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li> @Html.ActionLink(Resources.Resources.ViewProfil, "Details", "Employe", new { id = Session["Id"] }, null)</li>
                <li> @Html.ActionLink(Resources.Resources.EditProfil, "UpdateEmploye", "Employe", new { id = Session["Id"] }, null)</li>
                <li> @Html.ActionLink(Resources.Resources.ChangePassword, "ChangePWD", "Employe", new { id = Session["Id"] }, null)</li>
            </ul>
        </li>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">
                    @Resources.Resources.LogOff
                    <span class="glyphicon glyphicon-log-out"></span>
                </a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="@Url.Action("Register", "Employe")">
                <span class="glyphicon glyphicon-registration-mark"></span>
                @Resources.Resources.Register
            </a>
        </li>
        <li>
            <a href="@Url.Action("Login", "Employe")">
                <span class="glyphicon glyphicon-log-in"></span>
                @Resources.Resources.Login
            </a>
        </li>
    </ul>
}